<article class="flex h-full flex-col justify-between px-8 pt-[28%] pb-[16%]">
  <section class="flex flex-col gap-8">
    <img
      ngSrc="icon-success.svg"
      class="h-16 w-16"
      width="64"
      height="64"
      alt="Success icon"
    />
    <h1>Thanks for subscribing!</h1>
    <p>
      A confirmation email has been sent to <b>bash&#64;loremcompany.com</b>.
      Please open it and click the button inside to confirm your subscription.
    </p>
  </section>
  <button routerLink="/">
    <span>Dismiss message</span>
  </button>
</article>
