<article
  class="bg:white flex min-h-full flex-col items-center justify-center px-8 sm:bg-blue-700"
>
  <div
    class="flex h-[80vh] flex-col justify-between gap-8 sm:h-auto sm:max-w-[31.5rem] sm:rounded-[2.25rem] sm:bg-white sm:p-16"
  >
    <section class="flex flex-col gap-8">
      <img
        ngSrc="icon-success.svg"
        class="h-16 w-16"
        width="64"
        height="64"
        alt="Success icon"
      />
      <h1 class="sm:text-[3.5rem]">Thanks for subscribing!</h1>
      <p>
        A confirmation email has been sent to <b>bash&#64;loremcompany.com</b>.
        Please open it and click the button inside to confirm your subscription.
      </p>
    </section>
    <button routerLink="/">
      <span>Dismiss message</span>
    </button>
  </div>
</article>
