@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@import "tailwindcss";


@theme {
  --breakpoint-sm: 24rem;
  --breakpoint-md: 56.5rem;

  --color-grey: #949494;
  --color-blue-700: #36384D;
  --color-blue-800: #242742;
  --color-red: #FF6155;

  --font-roboto: "Roboto", sans-serif;
  --font-roboto--font-variation-settings: "wdth" 100;
  --font-roboto--font-style: normal;
}

@layer base {
  * {
    @apply p-0 m-0 box-border
  }

  html, body, main, app-root {
    @apply w-full h-screen
  }
}

@layer components {
  button {
    @apply rounded-xl bg-blue-800 p-4 text-white
      hover:bg-gradient-to-r hover:from-[#FF6A3A] hover:to-[#FF527B]
      hover:cursor-pointer
      disabled:bg-grey disabled:pointer-events-none
  }

  input {
    @apply border-grey placeholder-grey rounded-lg border-[1px] px-4 py-2 text-blue-800
      focus:outline-blue-800
  }

  h1 {
    @apply font-roboto font-bold leading-none tracking-normal text-[40px] text-blue-800
  }

  p {
    @apply font-roboto font-normal leading-normal tracking-normal text-[16px] text-blue-800
  }

  small {
    @apply font-roboto font-bold leading-normal tracking-normal text-[12px] text-blue-800
  }

  span {
    @apply font-roboto font-bold leading-normal tracking-normal text-[16px]
  }

  input {
    @apply font-roboto font-normal leading-normal tracking-normal text-[16px]
  }
}
